body {
    box-sizing: border-box;
    font-size: 8px;
}

.main {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
    width: 100vw;
    height: 100vh;
}

#cumulative {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

#chapter-11 {
    border-bottom: 1px solid black;
}

#chapter-12 {
    border-right: 1px solid black;
}

#chapter-15 {}