body {
    box-sizing: border-box;
    font-size: 7.4px;
    overflow: hidden;
}

h1 {
    font-weight: bold;
}

p {
    display: inline-block;
}

.term {
    text-decoration: underline;
}

.main {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    width: 100vw;
    height: 100vh;
}

.row {
    display: flex;
    flex-direction: row;
}

#cumulative {
    width: 50vw;
    height: 50vh;
    border-right: thin solid black;
    border-bottom: thin solid black;
}

#chapter-11 {
    width: 50vw;
    height: 50vh;
    border-bottom: thin solid black;
}

#chapter-12 {
    width: 50vw;
    height: 50vh;
    border-right: thin solid black;
}

#chapter-15 {
    width: 50vw;
    height: 50vh;
}

#extra-credit {
    position: absolute;
    bottom: 0;
    right: 0;
}