body {
    box-sizing: border-box;
    font-size: 6.6px;
    overflow: hidden;
}

h1 {
    font-weight: bold;
    text-decoration: underline;
}

p {
    display: inline-block;
}

ol {
    list-style: decimal;
    margin-left: 8px;
}

.term {
    font-weight: bold;
}

.main {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    width: 100vw;
    height: 100vh;
}

.row {
    display: flex;
    flex-direction: row;
}

#cumulative,
#chapter-11,
#chapter-15 {
    padding: 20px;
}

#cumulative {
    position: absolute;
    top: 0;
    left: 0;
    width: 44vw;
    height: 50vh;
}

#chapter-11 {
    position: absolute;
    top: 0;
    right: 0;
    width: 50vw;
    height: 38.5vh;
}

#chapter-15 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50vw;
    height: 74.8vh;
}

#extra-credit {
    margin: 0 150px 150px 0;
    position: absolute;
    bottom: 0;
    right: 0;
}